* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

header {
    background-color: #1F2937;
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 900px;
}

header .row1 .column1 h1 {
    font-size: 24px;
    color: #F9FaF8;
}

header .row1 .column2 ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

header .row1 .column2 ul li {
    color: #E5E7Eb;
    font-size: 18px;
}

header .row2 {
    width: 900px;
    display: flex;
    color: white;
}

header .row2 .column1 {
    flex: 1;
}

header .row2 .column1 p {
    font-size: 18px;
}

header .row2 .column1 .signup_button {
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border: 0px ;
    border-radius: 7px;
}

header .row2 .column2 {
    flex: 1;
}

header .row2 .column2 .img1 {
    display: flex;
    width: 450px;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main nav {
    width: 900px;
}

main nav .row2 {
    display: flex;
    justify-content: space-between;
}

main nav .row2 > * {
    width: 200px;
}

.button {
    text-decoration: none;
    margin: 15px 40px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    background-color: #fc9400;
    color: #fff;
}

.row2 .img1 .img1,
.row2 .img2 .img2,
.row2 .img3 .img3,
.row2 .img4 .img4 {
    margin: 0;
    width: 200px;
    border: 2px solid lightblue;
    border-radius: 10px;
}

article {
    background-color: #E5E7Eb;
    display: flex;
    justify-content: center;
}

article nav {
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .text {
    margin-bottom: -40px;
}

nav .text .row1 {
    font-size: 28px;
    font-weight: 100;
}

.author .row2 {
    display: flex;
    justify-content: flex-end;
}

.author .row2 {
    margin-right: 70px;
    font-weight: 800;
}

address {
    display: flex;
    justify-content: center;
}

address nav {
    background-color: #3882F6;
    width: 1000px;
    margin: 80px;
    border-radius: 7px;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

address nav .row1 {
    color: white;
}

address nav .row1 h3 {
    margin-top: 0;
    font-weight: 100;
}

address nav .row1 h1 {
    margin-bottom: 0;
}

address nav .row2 button {
    padding: 5px 15px;
    color: white;
    background-color: #3882F6;
    border: 3px solid white;
    border-radius: 7px;
    font-size: 20px;
}

footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > * {
    color: white;
    font-size: larger;
}